@font-face {
    font-family: EasyReading;
    src: url(EasyReadingPRO.ttf);
  }
 @font-face {
    font-family: CCSymbols;
    src: url(CCSymbols.ttf);
  }
html {
    font-size: 100%;
}
body {
    font-family: EasyReading;
    color: black;
    background-color: ##bec597;
}
h1, h2, h3 {
    text-align: center;	
}
div.body {
    padding: 1% 10% 1%;
}
div.diaryEntry {
    margin: 3% 0%;
    background-color: #f2ebcf;
	padding: 3% 3% 3% 3%;
	border-radius: 15px;
	font-size: 1.4rem;
}
div.opener > p {
	text-align: right;
}
p {
    margin: auto;
    text-align: left;
}
h4 {
	font-weight: normal; 
	margin: 0% 0%;
}
ol {
	list-style-type: none;
	padding-left: 0;
	margin: 0% 0%;
}
div.licence {
	font-family: CCSymbols;
	position: fixed;
    bottom: 0;
    left: 0;
}
div.cookie {
	position: fixed;
    bottom: 0;
    right: 0;
}
.licence, .cookie {
	font-size: 1.8rem;
}
span.overstrike {
	text-decoration: line-through;
}