
/* Generico */

@font-face {
    font-family: EasyReading;
    src: url(font/EasyReadingPRO.ttf);
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: EasyReading;
    color: black;
    background-color: #f2ebcf;
}
div.titles {
	margin-top: 3%;
}
h1, h2, h3 {
    text-align: center;	
}
div.titles > h2, h3 {
	margin-top: 1%;
}
p {
    margin: auto;
    text-align: left;
}
.center {
	text-align: center;
}
div.licence {
	position: fixed;
    bottom: 1%;
    right: 1%;
	z-index: 1;
	width: 88px; 
	height: 31px;
}
div.licence img:hover {
    opacity: 0.5;
}
a:link {
    color: black;
	text-decoration: none;
}
a:visited {
    color: black;
	text-decoration: none;
}
a:hover {
    color: black;
	text-decoration: none;
    opacity: 0.5;
}
a:active {
    color: black;
	text-decoration: none;
}

/* Homepage */

div.homepage_section {
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 26px;
}
a.button {
	padding: 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 15px;
	background-color: transparent;
	text-decoration: none;
	border: 3px outset #b1b4b5;
}
a.button:hover  {
	color: white;
	text-decoration: none;
	opacity: 1;
}
#button_uv:hover  {
	background-color: #3e114e;
}
#button_mira:hover  {
	background-color: #1967d2;
}
#button_tei:hover  {
	background-color: #ccb72d;
}
div.flex_container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	margin-top: 2%;
}
div.flex_container > a {
	margin-top: 2%;
}
div.flex_container img:hover {
    opacity: 0.5;
}
img.EasyReading {
	border: 3px solid #b1b4b5;
}

/* Trascrizione */

div.entry {
	font-size: 26px;
	margin: 1.5% 10%;
	padding: 3%;
	border: 2px inset black;
	border-radius: 15px;
}
div.letter {
	margin: 2% 0;
}
div.opener > p {
	text-align: right;
}
h4 {
	font-weight: normal; 
	margin: 0%;
}
ol {
	list-style-type: none;
	padding-left: 0;
	margin: 0.8% 0%;
}
.overstrike {
	text-decoration: line-through;
}
div.entry img {
  max-width: 100%;
  height: auto;
}

/* Tooltip */

.tooltip_container {
    position: relative;
	text-decoration: underline dashed #ffff0d 4px;
	cursor: help;
}
.tooltip_container .tooltip_text {
    visibility: hidden;
    background-color: #ffff0d;
    text-align: center;
	padding: 3%;
	border-radius: 15px;
	font-size: 22px;
    position: absolute;
    display: inline-block;
    z-index: 1;
    transform: translate(-50%, 84%);
}
.tooltip_container:hover .tooltip_text {
    visibility: visible;
}
.tooltip_container_img {
    position: relative;
    display: inline-block;
	text-decoration: none;
	cursor: help;
}
.tooltip_container_img .tooltip_text {
    visibility: hidden;
    background-color: #ffff0d;
    text-align: center;
	padding: 3%;
	border-radius: 15px;
	font-size: 22px;
    position: absolute;
    display: inline-block;
    z-index: 1;
    transform: translate(-50%, 84%);
}
.tooltip_container_img:hover .tooltip_text {
    visibility: visible;
}

/* Media Query */

@media screen and (min-width: 1px) and (max-width: 480px) {
	div.homepage_section, div.entry {
		margin-left: 2%;
		margin-right: 2%;
		font-size: 22px;
	}
	.tooltip_container .tooltip_text {
	    font-size: 18px;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
	div.homepage_section, div.entry {
		margin-left: 4%;
		margin-right: 4%;
		font-size: 23px;
	}
	.tooltip_container .tooltip_text {
	    font-size: 19px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
	div.homepage_section, div.entry {
		margin-left: 6%;
		margin-right: 6%;
		font-size: 24px;
	}
	.tooltip_container .tooltip_text {
	    font-size: 20px;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
	div.homepage_section, div.entry {
		margin-left: 8%;
		margin-right: 8%;
		font-size: 25px;
	}
	.tooltip_container .tooltip_text {
	    font-size: 21px;
    }
}

/* RICORDATI DI FARE PROVE CON @media:

    div.entry img {
         transform: scale(X);
    }
	
*/